{% extends 'base.html.twig' %}

{% block title %}Signature{% endblock %}

{% block body %}
    <h1>Signature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signature.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ signature.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ signature.Prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ signature.mail }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ signature.poste }}</td>
            </tr>
            <tr>
                <th>Ld</th>
                <td>{{ signature.ld }}</td>
            </tr>
            <tr>
                <th>Lf</th>
                <td>{{ signature.lf }}</td>
            </tr>
            <tr>
                <th>Agence</th>
                <td>{{ signature.agence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_signature_index') }}">back to list</a>

    <a href="{{ path('app_signature_edit', {'id': signature.id}) }}">edit</a>

    {{ include('signature/_delete_form.html.twig') }}
{% endblock %}
