<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head><body><table id="zs-output-sig"  cellpadding="0" cellspacing="0" style="width:550px;" ><tbody><tr><td style="padding: 0px !important;">
    <table  cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;padding:0px!important;border-spacing:0px;margin:0px;border-collapse:collapse;"><tbody><tr>
    <td style="padding: 0px !important;"><table  cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;padding:0px!important;border-spacing:0px;margin:0px;border-collapse:collapse;"><tbody><tr>
        <td style="padding: 0px !important;"><table  cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;padding:0px!important;border-spacing:0px;margin:0px;border-collapse:collapse;"><tbody><tr>
            <td style="padding: 0px !important;"><table  cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;padding:0px!important;border-spacing:0px;margin:0px;border-collapse:collapse;"><tbody><tr>
                    <table  cellpadding="0" cellspacing="0" style="margin-left: 20px;font-family:Arial,Helvetica,sans-serif;padding:0px!important;border-spacing:0px;border-collapse:collapse;"><tbody ><tr><td style="width: 800px;border-collapse:collapse;font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:500;"><span style="font-family: 'DINPro-Bold', sans-serif;font-size:12.0px;font-style:normal;font-weight:600;color:#0070BA;display:inline;">{{signature.Nom}} {{signature.Prenom}}</span></td></tr><tr><td style="border-collapse:collapse;font-family: 'DINPro-Regular', sans-serif;font-size:14.0px;font-weight:400;"><span style="font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-weight:500;color:#666666;display:inline;">{{signature.Poste}}</span></td></tr>

</tbody>
</table></td>
</tr>
</tbody>
</table>
</td></tr>
</tbody>
</table>
</td></tr>
</tbody></table></td></tr><tr>
                        
                        
                        <td style="padding: 0px !important;"><table  cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;padding:0px!important;border-spacing:0px;margin:0px;border-collapse:collapse;"><tbody><tr>
                            
                            <td width="176" style="padding: 0px !important;"><table  cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;padding:0px!important;border-spacing:0px;margin:0px;border-collapse:collapse;"><tbody><tr>
                                
                                <td style="border-collapse:collapse;padding: 0px !important;"><img style="margin-left: 20px;" height="100" width="120" alt="Logo Konica"  src="https://www.pagesjaunes.fr/media/vignette/AAABBEMPJDYA-V73001.gif"></td></tr><tr>
                                    
                                    <td style="border-collapse:collapse;padding-bottom:5px;height:5px;"></td></tr></tbody></table></td>
                                
                                
                                        
                                        <td style="width: 490px;"><table  cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;padding:0px!important;border-spacing:0px;margin-left: 15px !important;;border-collapse:collapse;"><tbody><tr>
                                            
    
    
    <tr><td style="border-collapse:collapse;font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:400;padding: 0px !important;margin-bottom: 6px;margin-top: 2px;"><span style="font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:500;color:#0070BA;display:inline;"></span> <span style="font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:500;color:#0070BA;display:inline;"> &nbsp;{{signature.Ld}}</span></td></tr>
    <tr><td style="border-collapse:collapse;font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:400;padding: 0px !important;margin-bottom: 6px;margin-top: 2px;"><span style="font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:500;color:#0070BA;display:inline;"><span style="font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:500;color:#0070BA;display:inline;">&nbsp;{{signature.Lf}}</span></td></tr>
    <tr><td style="border-collapse:collapse;font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:400;padding: 0px !important;margin-bottom: 6px;margin-top: 2px;"><span style="font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:400;color:#0070BA;display:inline;"></span> <span style="font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:500;color:#0070BA;display:inline;">&nbsp;{{signature.Agence}}  </span></td>
    <tr><td style="border-collapse:collapse;font-family: 'DINPro-Regular', sans-serif;font-size:12.0px;font-style:normal;font-weight:400;padding: 0px !important;margin-bottom: 12px;margin-top: 2px;"><span><a target="_blank" rel="nofollow" href="https://kmcl.fr/" style="font-family: 'DINPro-Regular', sans-serif;font-size:12px;font-style:normal;font-weight:500;color:#0070BA;display:inline;">&nbsp;KMCL </a></span></td></tr>
    
    <td style="margin-left: 10px !important;">&nbsp;&nbsp;&nbsp;&nbsp;<a style="margin-top: 18px !important;font-size: 0px; line-height: 0px;" target="_blank" rel="nofollow" href="https://www.facebook.com/dactyl.omr"><img height="24" width="24" alt="facebook"  src="https://img1.gimm.io/assets/social/96/native/4/facebook.png" ></a>&nbsp;&nbsp;<a style="margin-left:0px;font-size: 0px; line-height: 0px;" target="_blank" rel="nofollow" href="https://fr.linkedin.com/company/kmcl-dactylburo-omr"><img height="24" width="24" alt="linkedin"  src="https://img1.gimm.io/assets/social/96/native/4/linkedin.png""></a>




</tbody></table></td><td style="border-right: solid 2px #58a7bf; margin-right: 6px !important;"></td><td style="padding: 5px !important;"><table  cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;margin-left:10px;padding:0px!important;border-spacing:0px;margin:0px;border-collapse:collapse;">
        
    
    
    
    
    
    
        
    
    
    <tbody><tr><td style="border-collapse:collapse; margin-left:10px; padding: 4px !important;">
        
    
        
        <span style="font-family: 'DINPro-Regular', sans-serif; text-align:justify; font-size:12.0px; line-height:10px;font-weight:300;color:#666666;display:inline;"> Pour vos demandes d'interventions,<br>
        de consommables et vos factures. </span><br><br>
        
        
          <span>
            <a  href="https://portail.kmcl.fr/ArtisWebDactyl/portail/commun/accueil/entree.action?cKey=1&cStatus=P&session=ttsjf561QGYe2NWJ&typeLicence=DBC"  ><img src="https://img2.gimm.io/45fc157a-21c3-48d3-be18-bb0f8eabc8cd/img.png" style="margin-bottom: 2px;margin-top: 6px;" alt=""></a>
            </span>
          <span>
            <br>
            <span >
                <a href="https://portail.kmcl.fr/ArtisWebDactyl/portail/commun/accueil/entree.action?cKey=1&cStatus=P&session=ttsjf561QGYe2NWJ&typeLicence=DBC" style="font-size: 13.0px ;margin-top: 100px" ><img width="22" height="22"  src="https://img2.gimm.io/eceaaea9-4a5d-4f39-81b6-15f4e1eb668a/-/resize/98x92/img.png" style="margin-bottom: 10px;margin-top: 6px;" alt="">&nbsp;Votre avis nous intéresse</a>
                </span>











</tr></tbody></table></td></tr></tbody></table></td></tr>
<table>
<span style="margin-top: 2px">
                <a href="https://forms.news.kmcl.fr/5ad8a666b85b532bca149b09/Z9Hsnz6xSw6jbaiQ2kX3pw/hDjvJpx9RwOMgtMwyerQVQ/form.html"  ><img width="550" height="180"  src="https://img2.gimm.io/73e78e0a-f62b-4cc6-8ff1-1ebc9edf9246/img.png" alt=""></a>
                </span>
</table>